@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100&display=swap');
body{

}
header{
    background: #1F4990;
}
.logo{
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    /* color: #e6e1e1;  */
}
nav{
    font-family: 'Smooch Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
}
.slide{
    height: 500px;
    width: 100%;
    background: url(imgHome/imgSlideHeader/ft.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 500px) {
    .slide{
        background: url(imgHome/imgSlideHeader/ft\ -\ Copia.jpg);
        background-position: center left;
        background-repeat: no-repeat;
    }
}
.sobre-info{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.sobre-logo2{
    display: flex;
    justify-content: center;
}
#servicos{
    height: 900px;
    background: #1F4990;
    /* color: #fff; */
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}
.container-cards{
    height: 700px;
    background: #fff;
}
.container-cards-item{
    height: 100%;
}
.h-100 img{
    height: 210px;
    width: 100%;
}
